

$grey: #585858;
$light-grey: #928f8f;
$dark-highlight: #147e96;

.leaflet-container {
    top: 0px;
    left: 0px;

    position: absolute;

    height: 100%;
    width: 100%;

    z-index: 10;
} 

.flex-container {
    z-index: 900;
    display: flex;
    pointer-events: none;
}

.header{
    z-index: 900;
    flex-direction: row;
}

.page{
    width:100%;
    z-index: 900;
    flex-direction: column;
}

.menu-parent{
    flex-direction: column;
    width: 30%;
    z-index: 900;
}

.child{
    margin: auto;
    //position: fixed;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .375rem .75rem;

    option, * {
        background-color: white;
        color: white;
    }
}

.button, .select select, input{

    display: inline-flex;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    appearance: none;

    border: 1px solid $light-grey;
    padding: .375rem .75rem;
    margin: .25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    background: #ffffff;
    box-shadow: .25rem .25rem .75rem $grey, 
                .25rem .25rem .75rem #ffffff;

    z-index: 900;

    
}

.button:focus {
    outline: none;
}

.highlight{
    background: $dark-highlight;
}

.bubble {
    display: inline-flex;

    background-color: rgba(255, 255, 255, .5);

    -webkit-box-shadow: 1em 1em 3em -0.5em rgba(0,0,0,0.75);
    -moz-box-shadow: 1em 1em 3em -0.5em rgba(0,0,0,0.75);
    box-shadow: 1em 1em 3em -0.5em rgba(0,0,0,0.75);

    border-radius: 1em;

    padding: 1em;
    margin: 1em;

    z-index: 900;

    pointer-events: all;
}
  

.login-bubble {
    width: 12.5em;
    display: flex;
    justify-content: center;
    z-index: 900;
    margin-left: auto;
}


.ReactModalPortal, .ReactModalPortal > *{
    z-index: 900;
}